@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.navbar {

    background: transparent !important;

}



.navbar-brand {
    font-size: 3rem;
    color: #eaafc8 !important;




}



.navbar-nav .nav-link {

    /* color:#fff !important; */
    font-size: 1.2rem !important;
    font-weight: bold;
    margin-right: 20px !important;
    display: inline-block;
    transition: .3s;
    padding: 8px 8px !important;


}

.navbar-nav .nav-link:hover {
    background: #4b6cb7 !important;
    color: #fff !important;

    /* border-bottom: 2px solid #4b6cb7; */
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}



#header {
    width: 100%;
    height: 90vh;
    margin-top: 100px;
    position: relative;
    /* z-index: -1; */
    /* overflow:hidden; */

}





#header .brand-name {
    color: #3498db;
}

#header h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #414345;
    margin: 0 0 10px 0;
}

#header h2 {
    font-size: 2rem;
    color: #484848;
}



.services-btn {
    outline: none;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 120px;
    background: #6dd5ed;
    color: white;
    border-radius: 10px;
    /* pointer-events: auto; */
}



.header-img {

    border-radius: 10px;
    height: 100%;
    width: 100%;
    z-index: -5;


}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;

}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;

}



#header .animated {
    animation: up-down 0.5s ease-in-out infinite alternate-reverse both;
}





.main-projects {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 0.5rem; */
    position: relative;
    overflow: hidden;
}

.main-projects h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 1.2;
    color: #0b8793;
    font-weight: bold;
    position: relative
}

.main-projects h1::before {
    position: absolute;
    width: 20vh;
    height: 20vh;
    top: -50px;
    left: -70px;
    content: '';
    background: #0b8793;
    opacity: .2;
    border-radius: 50%;
    z-index: -1;


}

.projects-container {
    max-width: 1100px;
    overflow: auto;
    margin: auto;
    padding: 2rem;
}

.projectcard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.8rem;
    margin-bottom: 4rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);




}

.project-image {
    width: 100%;
    height: 300px;
}




.projectcard:nth-child(even) .project-image {
    order: 2;
}

.projectcard>div {
    padding: 0.8rem;
    background: #000;
    /* border-radius: 5px; */

}

.projectcard h3 {
    color: #FFEFBA;
    margin-bottom: 1rem;
}


.projectcard p {
    color: #fff;
}



.projectcard ul li {
    position: relative;
    /* font-size: 15px; */
    color: #6DD5FA !important;


}


.projectcard ul {
    line-height: 30px;

}

.about-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
    position: relative;

}

.about-heading h1 {
    position: relative;
    font-size: 3rem;
    margin: 50px 0;
    color: #0b8793;

}


.circle1 {
    position: absolute;
    width: 50vh;
    height: 50vh;
    left: -110px;
    top: -150px;
    background: #2a5298;
    opacity: 0.2;
    border-radius: 50%;
    /* z-index: -1; */


}




.about-heading h1::before {
    position: absolute;
    width: 20vh;
    height: 20vh;
    top: -50px;
    left: -70px;
    content: '';
    background: #0b8793;
    opacity: .2;
    border-radius: 50%;
    z-index: -1;


}

.aboutus {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 10px;

    /* background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0); */
    z-index: -1;


}

.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
    height: 300px;
    /* background:#000; */
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
    grid-gap: 2rem;

}

.about-content:nth-child(even) h2 {
    order: 2;
}

.about-content>div {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #fff; */
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    color: rgba(0, 0, 0, 0.7);
}

.about-content>h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #0575E6; */
    color: rgba(0, 0, 0, 0.7);
    margin: 20px 0;
    background: #6DD5FA;

}


.contact-box {
    max-width: 1100px;
    height: 90vh;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    /* background:; */
    padding: 60px;
    grid-row: 1rem;
    margin-bottom: 30px;


}



.address {
    background: #000;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 40px;
    color: white;

}
.address:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.address-image {
    margin-top: 20px;
}

.contact-name {
    font-size: 28px;
}


.address-svg {
    height: 100%;
    width: 100%;

}


.contact-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.contact-icons i {
    font-size: 30px;
    color: #0077b5;
    margin: 10px;
    cursor: pointer;
}







.address-name {
    font-size: 31px;
}

.email {
    margin: 20px 0;
}

center p {
    margin-bottom: 2px;
}

.copyright {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: white;
}
.copyright p{
    margin:0;

}




@media only screen and (max-width:992px) {


    .projectcard {
        display: block;
    }

    .projects-container {
        max-width: 970px;
        margin: 0;

    }






}


@media only screen and (max-width:768px) {

    #header h1 {
        font-size: 1.5rem;
    }

    #header h2 {
        font-size: 1rem;
    }

    /* #header h1 {
        font-size: 2rem;
    }

    #header h2 {
        font-size: 1.1rem;
    } */

    #header {
        margin-top: 50px;
    }

    .circle1 {
        display: none;
    }

    .about-content {
        display: block;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        border-radius: 5px;


    }

    .copyright p {
        font-size: 12px;
    }

    .about-content:nth-child(even) div {
        order: 2;
    }

    .about-content div {
        font-size: 15px;
    }

    .about-content h2 {
        background: transparent;
        color: #4286f4;
    }

    .main-projects {
        margin: 30px 0;
    }

    .contact-box {
        display: block;
        height: 110vh;
        padding: 15px;

    }

    .contact-box .address {
        padding: 10px;
    }

    .contact-box .address .address-box p {
        font-size: 10px;
    }
}

@media only screen and (min-width:992px) {
    .navbar-nav {
        margin-right: 80px !important;
    }
}

@media only screen and (max-width:360px) {


    #header h1 {
        font-size: 1.5rem;
    }

    #header h2 {
        font-size: 1rem;
    }

    #header {
        margin-top: 50px;
        height: 70vh;
    }

    .projects-container {
        padding: 5px !important;
    }
}