@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar {

    background: transparent !important;

}



.navbar-brand {
    font-size: 3rem;
    color: #eaafc8 !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 2px 10px rgba(0, 0, 0, 0.22);
   border-radius:100%;
    

}



.navbar-nav .nav-link {

    /* color:#fff !important; */
    font-size: 1.2rem !important;
    font-weight: bold;
    margin-right: 20px !important;
    display: inline-block;


}

.navbar-nav .nav-link:hover {
    color: #4b6cb7 !important;

    border-bottom: 2px solid #4b6cb7;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}



#header {
    width: 100%;
    height: 90vh;
    margin-top: 100px;
    position: relative;
    z-index: -1;
    /* overflow:hidden; */

}





#header .brand-name {
    color: #3498db;
}

#header h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #414345;
    margin: 0 0 10px 0;
}

#header h2 {
    font-size: 2rem;
    color: #484848;
}

#header .services-button{

    width:20vh;
    height:5vh;
    padding:10px 10px;
    border:none;
    outline:none;
    padding:10px 10px;
    border:2px solid cyan;
    background: #fff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* #header .btn-get-started:hover {
    background-color: #3498db;
    color: #fff;
    cursor:pointer;
} */


.header-img {

    border-radius: 10px;
    /* height: 100%; */
    z-index: -5;


}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;

}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;

}



#header .animated {
    animation: up-down 0.5s ease-in-out infinite alternate-reverse both;
}



@media only screen and (max-width:620px) {


    #header h1 {
        font-size: 2rem;
    }

    #header h2 {
        font-size: 1.1rem;
    }

    #header {
        margin-top: 50px;
    }
}
@media only screen and (min-width:992px) {
    .navbar-nav{
        margin-right:80px !important;
    }
}

@media only screen and (max-width:340px) {


    #header h1 {
        font-size: 1.5rem;
    }

    #header h2 {
        font-size: 1rem;
    }

    #header {
        margin-top: 50px;
    }
}


.main-projects {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 0.5rem; */
    position: relative;
    overflow: hidden;
}

.main-projects h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 1.2;
    color: #0b8793;
    font-weight: bold;
    position: relative
}

.main-projects h1::before {
    position: absolute;
    width: 20vh;
    height: 20vh;
    top: -50px;
    left: -115px;
    content: '';
    background: #0b8793;
    opacity: .2;
    border-radius: 50%;


}

.projects-container {
    max-width: 1100px;
    overflow: auto;
    margin: auto;
    /* padding: 2rem; */
}

.projectcard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.8rem;
    margin-bottom: 4rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);




}

.project-image {
    width: 100%;
    height: 300px;
}




.projectcard:nth-child(even) .project-image {
    order: 2;
}

.projectcard>div {
    padding: 0.8rem;
    background: #000;
    /* border-radius: 5px; */

}

.projectcard h3 {
    color: #FFEFBA;
    margin-bottom: 1rem;
}


.projectcard p {
    color: #fff;
}




.card-text {
    color: #6DD5FA !important;
    position: relative;
    font-size:20px;
}



@media only screen and (max-width:992px) {


    .projectcard {
        display: block;
    }

    .projects-container {
        max-width: 970px;
        margin: 0;
    }




}